@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #0b0f17;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;

  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

.tabular-nums {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progressBar 5s linear forwards;
}
